.signup-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .welcome-section {
    background-color: #ffcc3e;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      color: #1c2d7d;
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    img {
      max-width: 80%;
    }
  }

  .signup-section {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .logo {
      width: 150px;
      height: auto;
      margin-bottom: 20px;
      position: relative;
      bottom: 40px;
      right: 300px;
    }

    h2 {
      font-size: 2.5em;
      margin-bottom: 20px;
      color: #002366;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        margin-bottom: 15px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1em;
      }

      label {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input {
          margin-right: 10px;
        }
      }

      button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #ffcc3e; // Yellow button
        color: #002366; // Dark blue text
        font-size: 1.3em;
        cursor: pointer;
        color: white;

        &:hover {
          background-color: #ffcc3e; // Darker yellow on hover
        }
      }
    }

    p {
      margin-top: 20px;
      font-size: 1.2em;
      color: #002366;

      a {
        color: #ffcc3e; // Yellow link
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      button {
        flex: 1;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 1.3em;
        cursor: pointer;

        &.facebook-button {
          background-color: #3b5998; // Facebook blue
          color: #fff;
          margin-right: 10px;
        }

        &.google-button {
          background-color: #db4437; // Google red
          color: #fff;
        }
      }
    }
  }
}
