.payment-body {
  padding: 0 0 0 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  .order-list-title {
    padding-top: 20px;
    color: var(--text-color-inverted);
  }

  .order-list-table {
    table {
      width: 100%;
      height: 550px;
      border-collapse: collapse;
      margin: 1rem 0;
      background-color: var(--bg-color-inverted);
      color: var(--text-color-inverted);
      position: relative;

      thead {
        display: table;
        width: 100%;
        background-color: var(--primary-color);
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      thead th {
        height: 50px;
        padding: 0.75rem;
        text-align: center;
        border-bottom: 1px solid #ddd;
        width: 16.66%;
      }

      tbody {
        display: block;
        height: calc(100% - 50px);
        overflow-y: auto;
        overflow-x: hidden;
      }

      tbody::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
      }

      .order-list-tr {
        cursor: pointer;
        height: 60px;
      }

      .order-list-tr:hover {
        background-color: rgb(168, 168, 168);
      }

      td {
        padding: 0.75rem;
        border-bottom: 1px solid #ddd;
        text-align: center;
        width: 16.66%;
      }
    }
  }

  .details-container {
    display: flex;
    gap: 50px;

    .left-side {
      width: 60%;
      padding-top: 22px;
      padding-bottom: 22px;

      .back-btn {
        display: inline-block;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--primary-color);
        color: var(--text-color-inverted);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: #e6b537;
        }
      }

      .order-details-content {
        display: flex;
        gap: 2rem;

        .order-details {
          flex: 1;
          color: var(--text-color-inverted);

          h2 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--text-color-inverted);
          }

          table {
            width: 100%;
            height: 500px;
            border-collapse: collapse;
            margin: 1rem 0;
            background-color: var(--bg-color-inverted);
            color: var(--text-color-inverted);
            position: relative;

            thead {
              display: table;
              width: 100%;
              background-color: var(--primary-color);
              color: #fff;
              position: sticky;
              top: 0;
              z-index: 1;
            }

            thead th {
              height: 50px;
              padding: 0.75rem;
              text-align: center;
              border-bottom: 1px solid #ddd;
              width: 16.66%;
            }

            tbody {
              display: block;
              height: calc(100% - 50px);
              overflow-y: auto;
              overflow-x: hidden;
            }

            tbody::-webkit-scrollbar {
              width: 0px;
              background: transparent;
            }

            tbody tr {
              display: table;
              width: 100%;
              table-layout: fixed;
            }

            .order-list-tr {
              cursor: pointer;
              height: 60px;
            }

            .order-list-tr:hover {
              background-color: rgb(168, 168, 168);
            }

            td {
              padding: 0.75rem;
              border-bottom: 1px solid #ddd;
              text-align: center;
              width: 16.66%;
            }
          }
        }

        .delete-button {
          color: red;
          cursor: pointer;
          font-size: 1.2rem;
          &:hover {
            color: #b22222;
          }
        }

        .cancel-order-button-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;

          .cancel-order-button {
            font-size: 16px;
            font-weight: 700;
            padding: 15px 100px;
            background-color: var(--primary-color);
            color: var(--text-color-inverted);
            border-radius: 15px;
            border: none;
            cursor: pointer;

            &:hover {
              background-color: #e6b537;
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }

    .right-side {
      width: 40%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 0;
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      color: var(--text-color-inverted);

      .payment-details {
        .title-container {
          width: 100%;
          display: flex;
          justify-content: center;

          h2 {
            width: 90%;
            padding: 20px 0 10px 0;
            border-bottom: 1px solid gray;
            color: var(--text-color-inverted);
          }
        }
      }

      .tip-container {
        margin-left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;

        .tip-text {
          font-size: 16px;
          color: var(--text-color-inverted);
        }

        .tip-button-container {
          display: flex;
          gap: 20px;

          .tip-button {
            padding: 10px 15px;
            background-color: var(--primary-color);
            color: var(--text-color-inverted);
            border-radius: 8px;

            &:hover {
              background-color: #e6b537;
            }

            &:focus {
              background-color: #e6b537;
            }
          }
        }
      }

      .payment-container {
        display: flex;
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        gap: 20px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;

        .payment-option-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          gap: 20px;

          .title {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }

          .payment-option-button-container {
            display: flex;
            justify-content: space-evenly;
            gap: 20px;

            .payment-option-button {
              padding: 10px 10px;
              background-color: var(--primary-color);
              color: var(--text-color-inverted);
              border-radius: 12px;
              font-size: 14px;
              font-weight: 700;
              cursor: pointer;

              &:hover {
                background-color: #e6b537;
              }

              &:focus {
                background-color: #e6b537;
              }
            }
          }
        }

        .promo-code-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 35px;

          .title {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
          }

          .input-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .promo-code {
              padding: 5px 10px;
              border-radius: 5px;
              border: 1px solid var(--primary-color);
              color: var(--text-color-inverted);
              font-size: 14px;

              &:focus {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
      }

      .receive-amount-container {
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;

        .receive-amount-text {
          font-size: 16px;
          font-weight: 700;
        }

        .receive-amount-input {
          width: 50%;
          padding: 5px 10px;
          border-radius: 5px;
          border: 1px solid var(--primary-color);
          color: var(--text-color-inverted);
          font-size: 14px;

          &:focus {
            outline: none;
          }
        }
      }

      .total-subcontainer {
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;

        .subtotal-container {
          display: flex;
          justify-content: space-between;

          .subtotal {
            font-size: 14px;
          }
        }

        .tax-container {
          display: flex;
          justify-content: space-between;

          .tax {
            font-size: 14px;
          }
        }

        .tips-container {
          display: flex;
          justify-content: space-between;

          .tips {
            font-size: 14px;
          }
        }

        .promotion-container {
          display: flex;
          justify-content: space-between;

          .promotion {
            font-size: 14px;
          }
        }
      }

      .total-received-container {
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid gray;
        border-bottom-style: dashed;

        .total-container {
          display: flex;
          justify-content: space-between;

          .total {
            font-size: 14px;
          }
        }

        .received-container {
          display: flex;
          justify-content: space-between;

          .received {
            font-size: 14px;
          }
        }
      }

      .change-container {
        width: 90%;
        margin-left: 5%;
        padding: 20px;
        gap: 15px;

        display: flex;
        justify-content: space-between;

        .change {
          font-size: 14px;
        }
      }

      .complete-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;

        .complete-button {
          padding: 15px 20px;
          background-color: var(--primary-color);
          border-radius: 8px;
        }
      }
    }
  }
}
